<!DOCTYPE html>
<html lang="en">
  <% include header %>
  <body>
    <% include navbar %>
    <div role="main" class="container">
      <h1>
        Employee Management System
      </h1>
      <% include list %>
      <br /><br />
    </body>
  </div>
  <% include scripts %>
  <% include footer %>
</html>
