<!DOCTYPE html>
<html lang="en">
  <% include header %>
  <body>
    <% include navbar %>

    <div role="main" class="container">
      <br /><br />

      <h2>Employee Entry Page</h2>
      <form method="post" action="/process">
        <div class="form-group">
          <label for="txtName">Name:</label>
          <input type="text" class="form-control" id="txtName" name="txtName" />
        </div>
        <div class="form-group">
          <label for="txtTitle">Title:</label>
          <input type="text" class="form-control" id="txtTitle" name="txtTitle" />
        </div>
        <div class="form-group">
          <label for="txtEMail">E-Mail:</label>
          <input type="text" class="form-control" id="txtEMail" name="txtEMail" />
        </div>
        <div class="form-group">
          <label for="txtNotes">Notes:</label>
          <input type="text" class="form-control" id="txtNotes" name="txtNotes" />
        </div>
        <div class="form-group">
          <input name="_csrf" value="<%= csrfToken %>" type="hidden" />

          <button type="submit" class="btn btn-secondary float-right">
            Submit
          </button>
        </div>
      </form>
      <br /><br />

      <a href="/">Return to Home</a>
    </div>
    <% include scripts %>
    <$ include footer %>
  </body>
</html>
